* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
body {
  margin: 0 2rem;
}
/*--------Header Start-------------*/
/*--------Nav Container ----------*/
nav {
  margin: 3.125rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.logo-container > a {
  text-decoration: none;
}

.logo-container .sp1 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.logo-container .sp2 {
  color: #ff5400;
  font-size: 2.25rem;
  font-weight: 800;
}
.menu > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2.7rem;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}
.menu i {
  display: none;
}
.menu li {
  cursor: pointer;
}
ul > a {
  text-decoration: none;
  color: #131318;
}
#home-menu {
  color: #ff5400;
}
/*------Banner------*/
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 31.25rem;
  margin: 0 auto;
  border-radius: 1rem;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  padding: 6.625rem 17.9375rem 0;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner-subtitle {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 15.4rem 2rem;
}
.trip-finder {
  display: flex;
  justify-content: center;
  margin: 0 11.5rem 6.625rem;
  flex-direction: row;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.trip-finder .box {
  width: 10.875rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}
.trip-finder .box p {
  padding: 1rem 0 1rem 1rem;
  color: rgba(19, 19, 24, 0.5);
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}
.trip-finder .box img {
  max-width: 1.5rem;
  max-height: 1.5rem;
  padding-right: 1rem;
}
.primary-btn {
  width: 10.875rem;
  height: 3.25rem;
  border-radius: 8px;
  background: #ff5400;
  padding: 1rem 2rem;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
/*------Header Ends-------------*/
/*-------Main Starts-----------*/
.blogs {
  margin: 6.25rem auto;
  display: flex;
  gap: 2rem;
  max-width: 1170px;
  align-items: center;
  justify-content: center;
}
.blog-img img {
  width: 100%;
  max-height: 550px;
  border-radius: 1rem;
  background-color: lightgray;
}
.section-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.blog-container > .section-title {
  text-align: left;
}
.section-subtitle {
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 800;
}
.section-details {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.575rem;
}
.blogs p {
  margin-bottom: 1.5rem;
}
.blog-container {
  max-width: 577px;
}
.blogs ul {
  margin-left: 2rem;
}
/*-------Destination Section----*/
.destination-section {
  max-width: 1170px;
  margin: 0 auto 6.35rem;
  text-align: center;
}
.destination-details {
  padding-bottom: 3rem;
}

.destination-img {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.first-row {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.second-row {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.third-row {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.maldives {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.8125rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/maldives.png) no-repeat;
}
.indonesia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.8125rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/indonesia.png), no-repeat;
}
.srilanka {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.375rem;
  height: 17.875rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/srilanka.png), no-repeat;
}
.north-america {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.625rem;
  height: 17.875rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/north-america.png) no-repeat;
}
.kashmir {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.125rem;
  height: 17.875rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/kashmir.png) no-repeat;
}
.kashmir-2 {
  display: none;
}
.bangladesh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.5625rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/bangladesh.png) no-repeat;
}
.bandarban {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42.0625rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/bandarban.png) no-repeat;
}
.image-overlay {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.75rem;
  font-weight: 800;
}
/* Features Section */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto 6.25rem;
}
.feature-header,
.package-header {
  max-width: 643px;
  margin-bottom: 3rem;
}
.feature-cards {
  max-width: 35.8125rem;

  border-radius: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.card-container {
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}
.top-card-row {
  display: flex;
  gap: 1.5rem;
}
#hotels {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#services {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#best-price {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* Packages Section */
.packages {
  max-width: 1170px;
  margin: 0 auto 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.packages > .primary-btn {
  width: 13.125rem;
  padding: 0.875rem 1.375rem;
  cursor: progress;
}

.package-card-1 {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url(../Images/package1.png);
  background-color: lightgray;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.package-card-2 {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url(../Images/package2.png);
  background-color: lightgray;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-box {
  height: 24.3125rem;
  margin: 3.5rem 3.5rem 3.5rem 33.4rem;
  width: 36.18rem;
  padding: 3.125rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.package-card-2 > .card-box {
  margin: 3.5rem 33.4rem 3.5rem 3.5rem;
}
.package-info-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.6rem;
}
.info-details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.info-details > p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.package-details > .section-details {
  margin: 1rem 0 1rem;
}
.price {
  color: #ff5400;
  font-size: 1.25;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.package-details > .primary-btn {
  padding: 0.875rem 1.5rem;
  width: 9.375rem;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: progress;
}
/* video-banner */
.video-banner {
  max-width: 1170px;
  margin: 0 auto 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}
.video-banner .section-title {
  width: 28rem;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 4.25rem;
}
.video-banner .section-subtitle {
  width: 33.25rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
.video-content li > p {
  color: #131318;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.video-content ul {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

/*-------Responsive----*/

/*-----Tablet device-----*/
@media (min-width: 576px) and (max-width: 992px) {
  nav {
    margin: 2.25rem auto;
  }

  .menu ul {
    display: none;
  }
  .menu i {
    display: block;
    padding-top: 1rem;
    cursor: pointer;
  }
  .banner {
    margin: 1rem auto;
  }
  .banner-title {
    padding: 2rem 4rem;
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  .banner-subtitle {
    padding: 0 9rem;
  }
  .trip-finder {
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }
  .trip-finder .box {
    width: 7rem;
    gap: 1rem;
  }
  .trip-finder .primary-btn {
    width: 7rem;
    padding: 0.5rem 0.5rem;
  }
  .blogs {
    text-align: left;
    flex-direction: column;
    margin: 3rem auto;
  }
  .blog-img img {
    width: 100%;
  }
  .blog-container > .section-title {
    text-align: left;
    font-size: 1.5rem;
  }
  .section-details {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
  .destination-section {
    margin: 0 2.25rem auto;
  }
  .section-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .top-card-row {
    flex-direction: column;
  }
  .feature-header,
  .package-header {
    margin-top: 1rem;
  }
  .feature-cards {
    width: 20.9375rem;
  }
  .feature-cards > img {
    width: 3rem;
    height: 3rem;
  }
  .packages, .features{
    margin-bottom: 2rem;
  }
  .package-card-1,
  .package-card-2 {
    width: 36rem;
    height: 29rem;
    padding: 1rem;
  }
  .package-card-2 {
    justify-content: start;
  }
  .card-box {
    margin: 0 1rem 1rem;
    width: 22rem;
    height: 18.5625rem;
    padding: 2rem;
  }
  .package-card-2 > .card-box {
    margin: 0 1rem 1rem;
    width: 25rem;
    height: 18.5625rem;
    padding: 1.5rem;
  }
  .package-info-container {
    display: grid;
    gap: 0.5rem;
  }
  .package-details > .primary-btn {
    font-size: 1rem;
    width: 8.125rem;
    height: 2.5rem;
    padding: 0.5625rem 1.25rem;
  }
  .package-card-container {
    margin-bottom: 2rem;
  }
  .video-banner {
    gap: 1rem;
  }
  .video-banner .section-title {
    width: 20rem;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 2.25rem;
  }
  .video-banner .section-subtitle {
    width: 27.25rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .video-content ul {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .video img {
    width: 96%;
  }
}
/*-----Mobile device-----*/
@media (max-width: 576px) {
  nav {
    margin: 1.25rem;
  }

  .menu ul {
    display: none;
  }
  .menu i {
    display: block;
    padding-top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .logo-container {
    gap: 0.5rem;
  }
  .banner {
    margin: 1rem;
  }
  .banner-title {
    padding: 2rem 4rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .banner-subtitle {
    padding: 0 1rem;
  }
  .trip-finder {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
  }
  .blogs {
    text-align: left;
    flex-direction: column;
    margin: 3rem auto;
  }
  .blog-img img {
    width: 98%;
  }
  .blog-container > .section-title {
    text-align: left;
    font-size: 1.25rem;
  }
  .section-details {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .section-title {
    text-align: center;
    font-size: 2.25rem;
  }
  .section-subtitle {
    font-size: 1.25rem;
  }
  .first-row,
  .second-row,
  .third-row {
    flex-direction: column;
  }
  .maldives,
  .srilanka,
  .bandarban,
  .indonesia,
  .bangladesh,
  .north-america {
    width: 100%;
    max-width: 20.9375rem;
    height: 11rem;
  }
  .kashmir {
    display: none;
  }
  .kashmir-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 20.9375rem;
    height: 11rem;
    border-radius: 1rem;
    background: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
      ),
      url(../Images/kashmir-2.png) no-repeat;
  }
  .destination-section {
    margin: 0 0.25rem 1.5rem;
  }
  .top-card-row {
    flex-direction: column;
  }
  .features{
    margin-bottom: 1.5rem;
  }
  .feature-header> .section-title, .feature-header>.section-details, .package-header>.section-details, .package-header>.section-title{
    margin-bottom: 1rem;
  }
 
  .feature-cards {
    width: 20.9375rem;
  }
  .feature-cards > img {
    width: 3rem;
    height: 3rem;
  }
  .packages{
    margin-bottom: 2rem;
  }
  .package-card-1,
  .package-card-2 {
    flex-direction: column;
    width: 20.935rem;
    height: 31.25rem;
    padding: 1rem;
  }
  .package-card-2 {
    justify-content: end;
  }
  .card-box,
  .package-card-2 > .card-box {
    margin: 0 1rem 1rem;
    width: 17rem;
    height: 18.5625rem;
    padding: 1.5rem;
  }
  .package-info-container {
    display: grid;
    gap: 1.5rem;
  }
  .package-details > .primary-btn {
    font-size: 1rem;
    width: 8.125rem;
    height: 2.5rem;
    padding: 0.5625rem 1.25rem;
  }
  .package-card-container {
    margin-bottom: 1rem;
  }
  .video-banner {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .video-banner .section-title {
    width: 19.5rem;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 2.875rem;
  }
  .video-banner .section-subtitle {
    width: 20.9rem;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.875;
  }

  .video-content ul {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .video img {
    margin-left: 0.5rem;
    width: 96%;
  }
}
